# Traffic data
traffic_data/
tests/test_data/

# Results and temp files
traffic_analysis/nfstream_results/
analysis_results/
nfstream_results/
results/
*.csv
*.log
*.png  # plot files
*.pdf  # pdf plots
*.svg  # svg plots

# Test mock data
tests/mock_pcap_files/

# Python virtual environments
.venv/
myenv/
venv/
env/
.env/

# IDE files
.idea/
.idea/workspace.xml
*.iml
.vscode/
*.code-workspace

# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Jupyter Notebook files
.ipynb_checkpoints/

# Package files
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Test reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# System files
*.swp
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/
/traffic_analysis/feature_correlations.png
/traffic_analysis/feature_distributions.png
/traffic_analysis/feature_correlations/feature_correlations.png